/* Common styles BEGIN */
:root {
  --neutral-100: #e1e3e8;
  --neutral-900: #262a2e;
  --neutral-black: #0d0d0d;
  --blue: #2b3990;
}

@font-face {
  font-family: "Inter Medium";
  src: url("/assets/fonts/inter/static/Inter_18pt-Medium.ttf");
}

@font-face {
  font-family: "Inter Regular";
  src: url("/assets/fonts/inter/static/Inter_18pt-Regular.ttf");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html > * {
  max-width: 1240px;
}

body {
  margin: 0 auto;
}
.hidden {
  display: none;
}

.dropdown-caret-unopened::after {
  content: url("/assets/images/dropdown-caret-unopened.svg");
  margin-left: 5px;
}

.dropdown-caret-opened::after {
  content: url("/assets/images/dropdown-caret-opened.svg");
  margin-left: 5px;
}

/* Common styles END */