<!-- Image src will be set dynamically through an attribute. -->
<div class="focused-image-container">
  <img class="product-image-focused" src="" alt="product-image" />
  <button class="left-btn carousel-btn" type="button">
    <img src="/assets/images/left-arrow.svg" />
  </button>
  <button class="right-btn carousel-btn" type="button">
    <img src="/assets/images/right-arrow.svg" />
  </button>
</div>
<ul class="product-images-list">
  <!-- <li><img src="" /></li> -->
  <!-- List elements with img within them will be added dynamically. -->
</ul>
