<div class="product-listing-container">
  <product-images srcset=""></product-images>
  <div class="product-details">
    <product-tags tags=""></product-tags>
    <h1>Title</h1>
    <ul class="product-features body-16-regular"></ul>
    <div class="price-range-container">
      <p class="price-range-label body-14-medium">Price Range</p>
      <p class="price-range-value body-20-semibold"></p>
    </div>
    <div>
      <p class="body-14-medium shipping-details"></p>
      <p class="body-14-medium return-details"></p>
    </div>
    <div class="certifications">
    </div>
    <div class="action-buttons">
      <button class="get-quote-btn">Get Custom Quote</button>
      <button class="technical-specs-btn">View Technical Specs</button>
    </div>
  </div>
</div>
